/*Blue Grey - primary color*/
$p50:   #607D8B;
$p100:  #ECEFF1;
$p200:  #CFD8DC;
$p300:  #B0BEC5;
$p400:  #90A4AE;
$p500:  #78909C;
$p600:  #607D8B;
$p700:  #546E7A;
$p800:  #455A64;
$p900:  #37474F;

/*Cyan - accent color*/
$a50:   #00BCD4;
$a100:  #E0F7FA;
$a200:  #B2EBF2;
$a300:  #80DEEA;
$a400:  #4DD0E1;
$a500:  #26C6DA;
$a600:  #00BCD4;
$a700:  #00ACC1;
$a800:  #0097A7;
$a900:  #00838F;
$aa100: #006064;
$aa200: #84FFFF;
$aa400: #18FFFF;
$aa700: #00E5FF;

/*Size variables*/
$borderRad: 10px;